* {}

.lista {
    list-style: none;
    margin-top: 10px;
    padding-left: 0;
    background-color: blueviolet
}

.lista-item {
    display: inline-block;
}

.lista-item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.lista-item a:hover {
    color: blue;
}

.lista-item a:active {
    color: red;
}

.lista-item a::after {
    content: " | ";
}